@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Cinzel&display=swap');

@media (min-width: 768px) {
    .h-md-100 { height: 70vh; vertical-align: middle;
    margin-top: 50;
}
}
body{
    vertical-align: middle;
}

#login-form{
    border: 1px solid #212121;
    border-radius: 5px;
}
 
.btn-round { border-radius: 30px; }
.bg-indigo {margin-top: 50; background: #212121;
    font-family: Cinzel;
background-image: url("../assets/blur-background-img.jpg")
}
.text-cyan { color: #35bdff; }
h1{
    font-size: 3em;
}